@font-face {
	font-family: "UtopiaStd";
	src: url("../fonts/UtopiaStd-Regular.otf");
}

@font-face {
	font-family: "AFuturicaBook";
	src: url("../fonts/Futu_BK.TTF");
}

@font-face {
	font-family: "AFuturicaBsBold";
	src: url("../fonts/Futu_BL.TTF");
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.header .text-middle {
		margin: 100px 0px 0px 0px;
	}
	.header .text-middle .text {
		font-size: 24px;
		line-height: 28px;
	}
	.header .text-bottom {
		margin-top: 100px;
		padding: 20px 30px;
	}
	.header .text-bottom p {
		font-size: 28px;
		line-height: 46px;
	}
	.header .text-bottom span {
		font-size: 48px;
		line-height: 56px;
	}
	.content-1 .line {
		height: 50px;
		background: url(../img/line-h.png) no-repeat;
		background-size: 90%;
	}
	.content-1 .text-2 h1 {
		font-size: 34px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.header .text-middle {
		margin: 100px 0px 0px 0px;
	}
	.header .text-middle .text {
		font-size: 36px;
		line-height: 42px;
	}
	.header .text-bottom {
		margin-top: 100px;
		padding: 20px 30px;
	}
	.header .text-bottom p {
		font-size: 28px;
		line-height: 46px;
	}
	.header .text-bottom span {
		font-size: 48px;
		line-height: 56px;
	}
	.content-1 .line {
		height: 50px;
		background: url(../img/line-h.png) no-repeat;
		background-size: 90%;
	}
	.content-1 .text-2 h1 {
		font-size: 34px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.header .text-middle {
		margin: 200px 0px 0px 0px;
	}
	.header .text-middle .text {
		font-size: 36px;
		line-height: 42px;
	}
	.header .text-bottom {
		margin-top: 125px;
		padding: 50px 75px;
	}
	.header .text-bottom p {
		font-size: 28px;
		line-height: 56px;
	}
	.header .text-bottom span {
		font-size: 56px;
		line-height: 62px;
	}
	.content-1 .line {
		height: 50px;
		background: url(../img/line-h.png) no-repeat;
		background-size: 90%;
	}
	.content-1 .text-1 h3 {
		font-size: 36px;
	}
	.content-1 .text-1 p {
		font-size: 18px;
	}
	.content-1 .text-2 h1 {
		font-size: 52px;
		padding: 0px 100px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.header .text-middle {
		margin: 200px 0px 0px 0px;
	}
	.header .text-middle .text {
		font-size: 36px;
		line-height: 42px;
	}
	.header .text-bottom {
		margin-top: 125px;
		padding: 50px 75px;
	}
	.header .text-bottom p {
		font-size: 28px;
		line-height: 56px;
	}
	.header .text-bottom span {
		font-size: 56px;
		line-height: 62px;
	}
	.content-1 .text-1 {
		height: 400px;
		margin-top: 75px;
	}
	.content-1 .text-2 {
		height: 400px;
		margin-top: 100px;
	}
	.content-1 .line {
		height: 400px;
		background: url(../img/line-v.png) no-repeat;
	}
	.content-1 .text-2 h1 {
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.header .text-middle {
		margin: 200px 0px 0px 0px;
	}
	.header .text-middle .text {
		font-size: 36px;
		line-height: 42px;
	}
	.header .text-bottom {
		margin-top: 125px;
		padding: 50px 75px;
	}
	.header .text-bottom p {
		font-size: 28px;
		line-height: 56px;
	}
	.header .text-bottom span {
		font-size: 56px;
		line-height: 62px;
	}
	.content-1 .text-1 {
		height: 400px;
		margin-top: 75px;
	}
	.content-1 .text-2 {
		height: 400px;
		margin-top: 100px;
	}
	.content-1 .line {
		height: 400px;
		background: url(../img/line-v.png) no-repeat;
	}
	.content-1 .text-2 h1 {
	}
}

.main-bg {
	width: 100%;
	height: 1050px;
	background: url("../img/main-bg.png");
	background-repeat: no-repeat;
    background-position: right top;
}

.navbar-toggler i {
	color: white;
	padding-top: 10px;
}

.navbar {
	padding-top: 65px;
	background: transparent;
}

.navbar ul {
	line-height: 18px;
}

.navbar li {
	padding: 0px 13px;
}

.navbar .nav-link {
	color: #E8E8E6;
	font-family: "AFuturicaBook";
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: 0.3s ease;
	border-bottom: 3px solid transparent;
}
.navbar .nav-item.active a, .navbar .nav-link:hover {
	border-bottom: 3px solid #ffffff;
	color:#FFF;
}

.navbar .navbar-brand {
	padding: 0px 50px;
}

.navbar .navbar-brand img {
	height: 60px;
	margin-top: -10px;
}

.header .text-middle {
	font-family: "AFuturicaBsBold";
	color: #FFF;
}

.header .text-middle .title {
	font-size: 12px;
	text-transform: uppercase;
	line-height: 48px;
	letter-spacing: 2px;
}

.header .text-middle .text {
	font-weight: bold;
	letter-spacing: 2px;
}

.header .text-bottom {
	background: #EFEFEF;
}

.header .text-bottom p {
	font-family: "UtopiaStd";
	color: rgb( 38, 43, 45 );
}

.header .text-bottom span {
	font-family: "UtopiaStd";
	color: #2f5f98;
	font-weight: bold;
}

.content-1 {
	font-family: "UtopiaStd";
}
